
header h1{
    text-align: center;
    padding:10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
   }
   header nav ul{
       text-align: center;
       font-size: larger;
       list-style: none;
       padding: 20px 0;
       border-bottom: solid #eeeeee;
   
       
   }
   
   header nav ul li {
       display: inline;
       padding: 30px ;
       
   }
   
   header nav ul li a{
       text-decoration: none;
   }
   body{
       background-color:white;
   }
   body h2{
    text-align: center;
   }

   main{
    background-color:rgb(245, 193, 172);
        border-radius: 8px;
    box-shadow: 0, 4px, 8px rgba(0, 0, 0,0.1) ;
    padding: 20px;
    margin: 20px;
    
    
}
section h2{
    text-align: center;
}

footer{
    text-align: center;
    position: relative;
    margin-top: auto;
    border-top: solid #eeeeee;

}